{
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "parser": "babylon",
    "prettier.cssEnable": [
        "css",
        "less",
        "sass"
    ]
}
